.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  max-width: 50rem;
  margin: 0 auto;
}
.contactContainer h4 {
  text-align: left;
  margin: 0.5rem;
  width: 100%;
}
.contactContainer h3 {
  margin: 1rem;
}
@media (min-width: 0px) and (max-width: 567px) {
  .contactContainer {
    margin-top: 0;
  }

}

@media (min-width: 568px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1365px) {
}
@media (min-width: 1366px) {
}
