.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  max-width: 80rem;
  margin: 0 auto;
}
.contactContainer h4 {
  margin: 0.5rem;
}
.contactContainer h2 {
  text-align: left;
  width: 100%;
  max-width: 80vw;
  color: #514e5e;
  font-size: 3rem;
}
.contactContainer h3 {
  margin: 1rem;
}
@media (min-width: 0px) and (max-width: 567px) {
  .contactContainer {
    margin-top: 0;
  }
  .contactContainer h2 {
    text-align: left;
    width: 100%;
    color: #514e5e;
    font-size: 2rem;
    max-width: 90vw;
    margin: 0.5rem auto 0.5rem;
    padding: 0;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1365px) {
}
@media (min-width: 1366px) {
}
